doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")
    <!-- @if production=false -->
    script(src="/javascripts/script1.js")
    script(src="/javascripts/script2.js")
    script(src="/javascripts/script3.js")
    <!-- @endif -->

    <!-- @if production=true -->
    script(src="/javascripts/script.min.js")
    <!-- @endif -->